Repository P-manBrown/docker-rails-template: changes, and which lefthook commands are due for each by the changed paths.
All: rubocop, markdownlint

rubocop:
  run: docker compose run --rm --no-deps api bash -c " bundle exec rubocop -A --force-exclusion {staged_files} "
  fail_text: Read the report above.

markdownlint:
  run: docker compose run --rm --no-deps frontend bash -c " bundle exec mdl --rules ~MD013 {staged_files} "
  fail_text: Read the report above.

improve: add GitHub credentials via environment variables
  .devcontainer/Dockerfile
  .devcontainer/compose.devcontainer.yml
  .devcontainer/postCreateCommand.sh
  .docker/api/Dockerfile
  .docker/api/environment/.gitignore
  .docker/api/environment/github-credentials.env.template
  .docker/api/secrets/github-pkg-cred.txt.template
  .docker/db/environment/.gitignore
  .dockerignore
  .gitignore
  compose.yml
  setup/settings/.gitignore
  setup/settings/Gemfile
Due: none

feat: add scripts for setting up a project
  setup/scripts/create-pj.sh
  setup/scripts/prepare-create-pj.sh
  setup/settings/.gitignore
  setup/settings/Gemfile
  setup/settings/database.yml
  setup/settings/gh-pkg-gem-decls
  setup/settings/lefthook/cleanup-branches.txt
  setup/settings/lefthook/protect-branch.txt
  setup/settings/puma.rb
  templates/.env.template
  templates/devcontainer.json.template
  templates/entrypoint.sh.template
  templates/lefthook-project.yml.template
  templates/myapp.conf.template
Due: rubocop

feat: add settings of markdown extensions in devcontainer
  .devcontainer/devcontainer.json
Due: none

improve: change environments in compose.yml from .env to default values
  .docker/api/Dockerfile
  .docker/api/environment/github-credentials.env.template
  .docker/db/conf.d/docker.cnf
  .dockerignore
  .env
  .gitignore
  Docker/api/Dockerfile
  Docker/api/entrypoint.sh
  Docker/api/environment/.gitignore
  Docker/api/environment/github-credentials.env.template
  Docker/db/Dockerfile
  Docker/db/environment/.gitignore
  Docker/db/environment/mysql.env.template
  Docker/db/initdb.d/00_create-test-db.sh
  Docker/web/Dockerfile
  Docker/web/nginx/conf.d/myapp.conf
  Docker/web/nginx/nginx.conf
  compose.yml
  setup/scripts/create-pj.sh
  setup/scripts/prepare-create-pj.sh
  setup/settings/database.yml
Due: none

feat: add scripts for initial commit
  setup/scripts/create-pj.sh
  setup/scripts/initial-commit.sh
  setup/scripts/prepare-create-pj.sh
  setup/settings/lefthook/protect-branch.txt
Due: none

feat: add dependabot
  .github/dependabot.yml
  setup/settings/database.yml
  setup/settings/dependabot-bundler.txt
Due: none

improve: change to use existing config file when starting a project
  .github/dependabot.yml
  .gitignore
  lefthook.yml
  setup/config/database.yml
  setup/config/gh-pkg-gem-decls
  setup/config/puma.rb
  setup/scripts/create-pj.sh
  setup/scripts/prepare-create-pj.sh
  setup/settings/dependabot-bundler.txt
  setup/settings/lefthook/cleanup-branches.txt
  setup/settings/lefthook/protect-branch.txt
Due: rubocop

feat: add devcontainer features
  .devcontainer/Dockerfile
  .devcontainer/compose.devcontainer.yml
  .devcontainer/devcontainer.json
  .devcontainer/postCreateCommand.sh
  .devcontainer/solargraph/solargraph.rb
  Docker/api/Dockerfile
  Docker/db/Dockerfile
  Docker/web/Dockerfile
  compose.yml
  setup/scripts/create-pj.sh
  setup/scripts/initial-commit.sh
  setup/scripts/prepare-create-pj.sh
Due: rubocop

improve: change to not use docker in lefthook
  .devcontainer/lefthook/lefthook-local.yml
  lefthook.yml
  setup/config/lefthook-local.yml
Due: none

feat: ignore files listed in global_ignore in devcontainer
  setup/scripts/prepare-create-pj.sh
Due: none

feat: recreate initial commit
  setup/scripts/initial-commit.sh
  setup/scripts/prepare-create-pj.sh
Due: none

feat: add a process to remove extra space in Gemfile
  setup/scripts/create-pj.sh
Due: none

feat: add solargraph(devcontainer-feature)
  .devcontainer/compose.devcontainer.yml
  .devcontainer/devcontainer.json
  .devcontainer/postCreateCommand.sh
  .devcontainer/solargraph/.solargraph.yml
  .devcontainer/solargraph/solargraph.rb
  .vscode/launch.json
  Docker/api/Dockerfile
  Docker/db/Dockerfile
  Docker/web/Dockerfile
Due: rubocop

docs: add README.md
  README.md
Due: markdownlint

docs: add Git Commit Convention
  .github/commit/COMMIT_CONVENTION.md
  .github/commit/gitmessage.txt
Due: markdownlint

improve: modify db.env_file in compose.yml to list format
  .editorconfig
  compose.yml
Due: none

improve: use anchors for common settings
  setup/config/lefthook-local.yml
Due: none

improve: use wildcards in conditional expressions
  setup/scripts/create-pj.sh
Due: none

fix: don't edit .git/info/exclude if global gitignore is not set
  setup/scripts/prepare-create-pj.sh
Due: none

fix: create a develop branch only if the project name contains 'backend'
  setup/scripts/initial-commit.sh
Due: none

docs: change the structure of README.md
  README.md
Due: markdownlint

fix: fix to get correct git username and e-mail
  setup/scripts/initial-commit.sh
  setup/scripts/prepare-create-pj.sh
Due: none

fix: fix an error when creating initial commit
  setup/scripts/initial-commit.sh
Due: none

improve: set up Solargraph and Lefthook in create-pj.sh
  .devcontainer/postCreateCommand.sh
  setup/scripts/create-pj.sh
Due: none

feat: change Rubocop rules
  .rubocop.yml
Due: none

feat: add markdownlint style
  .devcontainer/devcontainer.json
  .mdl_style.rb
  .mdlrc
  lefthook.yml
Due: rubocop

feat: raise an error if bash is not used to run the setup scripts.
  .devcontainer/postCreateCommand.sh
  setup/scripts/create-pj.sh
  setup/scripts/initial-commit.sh
  setup/scripts/prepare-create-pj.sh
Due: none

improve: delete "overerideFeatureInstallOrder" in devcontainer.json
  .devcontainer/devcontainer.json
Due: none

improve: move commit directory to commit-convention repository
  .github/commit/COMMIT_CONVENTION.md
  .github/commit/gitmessage.txt
  .gitmodules
  README.md
  setup/scripts/prepare-create-pj.sh
Due: markdownlint

feat: add a volume for the log directory to the Nginx container
  compose.yml
Due: none

feat: change location from / to /api/v1 in myapp.conf
  Docker/web/nginx/conf.d/myapp.conf
Due: none

feat: add configurations for Thunder Client
  .devcontainer/compose.devcontainer.yml
  .devcontainer/devcontainer-entrypoint.sh
  .devcontainer/devcontainer.json
  .vscode/thunder-tests/thunderActivity.json
  .vscode/thunder-tests/thunderCollection.json
  .vscode/thunder-tests/thunderEnvironment.json
  .vscode/thunder-tests/thunderclient.json
  Docker/api/entrypoint.sh
  setup/scripts/create-pj.sh
Due: none

improve: modify USER variable to lowercase in devcontainer-entrypoint.sh
  .devcontainer/devcontainer-entrypoint.sh
Due: none

feat: change docker web service configuration settings
  Docker/web/Dockerfile
  Docker/web/nginx/conf.d/myapp.conf.template
  Docker/web/nginx/nginx.conf
  compose.yml
Due: none

feat!: change docker api service configuration settings
  Docker/api/Dockerfile
  Docker/api/entrypoint.sh
  Docker/api/environment/github-credentials.env.template
  setup/config/puma.rb
Due: rubocop

improve: change bundle to bin/bundle
  Guardfile
  lefthook.yml
  setup/config/lefthook-local.yml
Due: none

feat: add extra_hosts to compose.yml
  README.md
  compose.yml
  setup/scripts/create-pj.sh
  setup/scripts/prepare-create-pj.sh
Due: markdownlint

feat: add vscode-mysql-client2 extension to devcontainer
  .devcontainer/compose.devcontainer.yml
  .devcontainer/devcontainer-entrypoint.sh
  .devcontainer/devcontainer.json
  .devcontainer/postCreateCommand.sh
  .vscode/thunder-tests/thunderActivity.json
  .vscode/thunder-tests/thunderEnvironment.json
Due: none

improve: change docker db service configuration settings
  Docker/db/Dockerfile
  Docker/db/environment/mysql.env.template
  setup/config/database.yml
Due: none

improve: modify contents of launch.json
  .vscode/launch.json
Due: none

Path conditions:
  rubocop: any of: *.rb
  markdownlint: any of: *.md
